<div class="option">
  <%= f.hidden_field :position, :class => "field_option_position" %>
  <p>
    <%= f.label :label, "Label:" %>
    <%= f.text_field :label %>
    <%= link_to_remove_field_option "Remove Option", f %>
  </p>
</div>
